body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
}

#word-display {
    margin: 20px 0;
    font-size: 24px;
}

#guesses-left {
    font-size: 18px;
}

#letters {
    margin-top: 20px;
}

.letter {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.letter:hover {
    background-color: #0056b3;
}
